- var fjo= "pencil" + oneid
- var fjk= "remove" + oneid
- var dat= "date" + oneid
 
button.btn.btn-default.btn-xs(type='button', id=fjo, data-toggle='modal', data-target='#myModal')
   i.fas.fa-pen(aria-hidden='true')
button.btn.btn-default.btn-xs(type='button', id=fjk)
   i.fas.fa-times(aria-hidden='true')
  span(class=fjo)=onemsg
  span &nbsp
  span(class=dat)=onedate
  span &nbsp
  span(class='dstodo')
p
 
